@import url("../css/index/infos.css"); 
@import url("../css/index/infos-sup.css"); 
@import url("../css/index/infos-end.css"); 
@import url("../css/apropos/a-propos.css"); 



*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    line-height: 1.15;
}
/* Navigation Haut du Site */

head {
    display: none;
}

header {    
    z-index: 1000;
    position: absolute;
    bottom: 15px;
    background: rgba(245, 245, 245, 0.411);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.192);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-duration: .3s;
    border-radius: 90px;
    padding: 0 24px;
    transition: .9s ease-in-out;
}

header .wrapper {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contindex img {
    border-style: none;
}

header .wrapper nav {
    display: flex;
}


header .wrapper nav a{
    padding: 40px 15px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    white-space: nowrap;
    color: rgb(39, 38, 38);
    transition: .3s ease-in-out;
}

header .wrapper nav a.active-link {
    font-size: 19px;
    color: rgb(170, 45, 45);
}

header .wrapper nav a:hover {
    font-size: 19px;
    transition: 0.1s ease-in-out;
    text-shadow: rgba(85, 82, 82, 0.404) 2px 1px 4px ;
}

/* nouvelle nav bar si Infos est dépassé */

header.sticky{
    background: #2525255e;
    position: fixed;
    left: -466px;
    transition: .3s ease-in-out;
}
header.sticky:hover{
    left: 10px;
}

header.sticky2{
    background: rgba(245, 245, 245, 0.411);
}


/* Infos Sections */

.contindex {
    min-height: calc(100vh - 365px);
}


/* ------------------------------ */







/* ------------------------------ */

body {
 margin: 0;
}

footer {    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    color: #fff;
    background-color: #2e3133;
    margin: 0 0 0 0;
}

footer h4{
    margin: 0;
    padding-bottom: 10px;
}


@media (max-width: 992px){

    /*------------    THIBAULT LETOURNEUR    -------------- */


    /*------------  -------------- */


    /*------------    PRESTATIONS    -------------- */

    .infsup_cont .cont_elem{
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: flex;
        grid-template-columns: none;
    }

    .infsup_cont .card {
        width: 400px;
        padding: 0 0 0 0;
    }
    
    /*------------  -------------- */



}

@media (max-width: 768px){

    /*------------    THIBAULT LETOURNEUR    -------------- */

    #infos h1 {
        font-size: 200%;

    }
    
 


    /*------------    NAVBAR    -------------- */

    header .wrapper {
        max-width: 479px;
    }



    /*------------  -------------- */


}
@media (max-width: 479px){

    header {
        bottom: 0;
        box-shadow: none;
        background: none;
    }

    header .wrapper nav a {
        padding: 40px 7px;
        font-size: 13px;
    }

    header .wrapper nav a.active-link {
        font-size: 15px;
    }

    header .wrapper nav a:hover {
        font-size: 13px;
        transition: 0.1s ease-in-out;
    }

}