*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    line-height: 1.15;
}
/* Navigation Haut du Site */

head {
    display: none;
}

header {    
    z-index: 1000;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(109,122,139,.1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition-duration: .3s;
    padding: 0 24px;
}

header .wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrapper .logo {
    display: block;
    width: 15%;
}

img {
    border-style: none;
}

header .wrapper nav {
    display: flex;
}

header .wrapper nav a.active{
    color: rgb(170, 45, 45);
}

header .wrapper nav a{
    padding: 40px 15px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    white-space: nowrap;
    color: rgb(172, 162, 162);
}



/* Infos Sections */

.contindex {
    min-height: calc(100vh - 365px);
}

/* Section INFOS */
#infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(70vh - 100px);
    vertical-align: middle;
    background-image: url(/public/img/prog-css.jpg);
    background-position: 50%;
    background-size: cover;
}

#infos h1, #infos h1 span {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #2e3133 1px 3px 15px;
}

#infos h1 {
    position: relative;
    float: left;
    margin: 20px 0 8px;
    text-transform: uppercase;
    font-size: 70px;
    letter-spacing: 2px;
    color: #ec0c0c9a;
    text-align: center;
    padding: 0 16px;
}

#infos h1 span {
    color: #fff;
    z-index: 3;
    white-space: nowrap;
}

#infos p{
    color: white;
    text-shadow: black 1px 2px 7px;
    background: rgb(0, 0, 0) ;
}





#infos-sup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(auto - 100px);
    vertical-align: middle;
    /*background-image: url(/images/banner_dark.jpg);*/
    background: rgb(161, 69, 69);
    background-position: 50%;
    background-size: cover;
}

#infos-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(auto - 100px);
    vertical-align: middle;
    /*background-image: url(/images/banner_dark.jpg);*/
    background: rgb(130, 74, 184);
    background-position: 50%;
    background-size: cover;
}

/* ------------------------------ */






/* ------------------------------ */

body {
 margin: 0;
}

footer {    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    color: #fff;
    background-color: #2e3133;
    min-height: 80px;
}
