.a-propos{
    min-height: calc(100vh);
}

.a-propos .wrapper{
    margin: 0 auto;
    max-width: 100%;
    background-color: #252525;
    padding-bottom: 40px;
}

.a-propos .wrapper .Titre{
    position: relative;
    margin-bottom: 0;
    padding: 1em .25em;
    color: #fff;
    background: #252525;
    text-align: center;
}
.a-propos .wrapper .Titre:before{    
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid #252525;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}
.a-propos .wrapper .Titre h1{
    font-size: 35px;
}

.a-propos .wrapper .informations{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 32px;
    gap: 32px;
    background: #ddd7d1;
    margin: auto;
    max-width: 1200px;
    border-radius: 10px 10px 0 0;
    box-shadow: rgb(82, 82, 82) 10px 10px 10px;
}

/* PROFIL */

.a-propos .wrapper .informations .profil{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.a-propos .wrapper .informations .profil h2{
    font-size: 30px;
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.a-propos .wrapper .informations .profil h2 span{
    color: #B5272A;
}

/* AUTO-TEXT WRITTING */
.a-propos .wrapper .informations .profil h3{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    padding-left: 10px;
    background: black;
    color: rgb(255, 255, 255);
    width: 210px;
    border-radius: 90px;
}
.a-propos .wrapper .informations .profil h3 span{
    color: #1adb2a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}


/* Bouton Switch Profil */

.a-propos .wrapper .informations .description .boutons{
    position: relative;
    width: auto;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    margin-left: auto;
    margin-right: 25px;
}

.a-propos .wrapper .informations .description .boutons h2{
    font-size: 18px;
    align-items: center;
    color: white;
}

/* BOUTON CHOIX PROFIL */
.a-propos .wrapper .informations .description .bchoix{
    position: relative;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    margin-left: auto;
    margin-right: 45px;
}

.a-propos .wrapper .informations .description label.boutons{
    margin: 0;
    vertical-align: middle;
    align-items: center;
}

.a-propos .wrapper .informations .description label input{
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.a-propos .wrapper .informations .description label input:checked ~ h2{
    color: rgb(245, 154, 50);
}


.a-propos .wrapper .informations .description label.boutons h2.tb1{
    display: flex;
    justify-content: center;
    position: relative;
    width: 90px;
    height: 40px;
    background: #252525;
    text-align: center;
    font-size: 15px;    
    border-radius: 10px;
    box-shadow: -1px 1px 3px rgb(56, 56, 56),
                -3px 3px 9px rgb(65, 65, 65);
    cursor: pointer;
}
.a-propos .wrapper .informations .description label.boutons h2.tb1:hover{
    box-shadow: -1px 1px 3px  rgb(56, 56, 56),
                -3px 3px 9px rgb(65, 65, 65),
                inset 1px -1px 3px rgb(56, 56, 56),
                inset 2px -2px 9px  rgb(65, 65, 65);
}


.a-propos .wrapper .informations .description label.boutons h2.tb2{
    display: flex;
    justify-content: center;
    position: relative;
    width: 90px;
    height: 40px;
    background: #252525;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(56, 56, 56),
                3px 3px 9px rgb(65, 65, 65);
    cursor: pointer;
}

.a-propos .wrapper .informations .description label.boutons h2.tb2:hover{
    
    box-shadow: 1px 1px 3px rgb(56, 56, 56),
                3px 3px 9px rgb(65, 65, 65),
                inset -1px -1px 3px rgb(56, 56, 56),
                inset -2px -2px 9px rgb(65, 65, 65);
}

/* CONTENU AFFICHER QUAND CHOIX "DEV" ou "GAMEUR */

.textDiv {
    position: relative;
    font-size: 20px;
    border-radius: 5px;
    width: calc(100% - 25px);
    padding: 15px;
    margin-top: 5px;
    font-weight: bold;
}

.a-propos .wrapper .informations .description .textDiv h3{
    background: linear-gradient(0.15turn, #252525, #252525);
    padding-left: 0;
    width: 140px; 
    text-align: center;
}
.textDiv p{    
    color: #252525;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 9px #252525,
                -1px -1px 9px #252525;
    background: none;
    transition: .3s ease-in-out;
    text-align: justify;
}
.textDiv p:hover{    
    background: linear-gradient(0.15turn, #252525, #252525);
    color: whitesmoke;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.textDiv p:hover span.langage{
    color: rgb(245, 154, 50);
    transition: .3s ease-in-out;
}

.textDiv span.langage{
    color: #B5272A;
    transition: .3s ease-in-out;
}

.textDiv span.sTitre{
    font-size: 18px;
    text-decoration-line: underline;
}

/* ---- FIN TEXTDIV ---- */

.a-propos .wrapper .informations #photo{
    display: flex;
    overflow:hidden;
    border-radius: 270px;
    border-style: hidden;
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.a-propos .wrapper .informations #photo:hover{
    box-shadow: rgba(70, 68, 68, 0.356) 0 0 10px 1px;
    transition: .1s ease-in-out;
}


/* DESCRIPTION PROFIL */

.a-propos .wrapper .informations .description{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    padding-top: 50px;
}

.a-propos .wrapper .informations .description h2{
    font-size: 50px;
    color: #000;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.a-propos .wrapper .informations .description h2 span{
    color: #B5272A;
}

.a-propos .wrapper .informations .description h3{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    padding-left: 10px;
    background: black;
    color: rgb(255, 255, 255);
    width: 210px;
    border-radius: 90px;
}
.a-propos .wrapper .informations .description h3 span{
    color: #1adb2a;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

/* -- Compétences -- */

.a-propos .wrapper .competences{
    display: flex;
    flex-direction: column;
    padding: 50px 32px ;
    margin: auto;
    max-width: 1200px;
    box-shadow: rgb(82, 82, 82) 10px 10px 10px;
    background: #DCD7D1;
}
.a-propos .wrapper .competences h1.titre{
    position: relative;
    font-weight: 500;
    font-size: 30px;
    color: #2b2b2b;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 15px;
}
.a-propos .wrapper .competences h1.titre:before{
    content: "";
    position: absolute;
    width: 700px;
    height: 2px;
    background-color: rgb(179, 172, 172);
    bottom: -5px;
}

.a-propos .wrapper .competences .content{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    gap: 32px;
    border-radius: 0px 0 10px 10px;
}


.a-propos .wrapper .competences .content .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 2px;
    background-color:#eeeeee;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.24);
    transition: box-shadow .25s;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
}

.a-propos .wrapper .competences .content .box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    transition: width .5s,height .5s,bottom .5s,border-radius .1s;
    background: linear-gradient(transparent,transparent 50%,#cd5757 0,#cd9a57);
    border-radius: 1px;
    bottom: 0;
}
.a-propos .wrapper .competences .content .box:hover:before{
    width: 100%;
    height: 25px;
    bottom: -15px;
    background: linear-gradient(#cd5757 0,#cd9a57);
    transition: width .5s,height .5s,bottom .5s,border-radius .5s;
    border-radius: 50px;
}

.a-propos .wrapper .competences .content .box:after{
    content: "";
    color: #cd6e57;
}
.a-propos .wrapper .competences .content .box:hover:after{
    transition: color .3s ease-in-out;
}

.a-propos .wrapper .competences .content .box img{
    width: 100%;
    box-shadow: rgba(116, 118, 136, 0.418) 0 1px 1px;
}

.a-propos .wrapper .competences .content .box h2{
    margin: 14px 0 0;
    font-size: 20px;
    color: #343434;
    transition: color .3s ease-in-out;
}

.a-propos .wrapper .competences .content .box p{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 16px 16px;
    color: #343434;
    font-size: 12px;
    line-height: 16px;
    flex: 1;
}

@media (max-width: 880px){
    .a-propos .wrapper .informations{
        display: flex;
        flex-direction: column;
    }

    .a-propos .wrapper .competences h1.titre:before{
        width: 70%;
    }
}


