.contacter{
    position: relative;
    min-height: 50vh;
    padding: 50px 100px;
    background-image: url("https://wallpaperset.com/w/full/e/2/9/377777.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacter .content{
    max-width: 800px;
    text-align: center;
    
}

.contacter .content h2{
    font-size: 36px;
    font-weight: 500;
    color: whitesmoke;
}

.contacter .content p{
    font-weight: 300;
    color: #fff;
}

.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact_info{
    display: flex;
    flex-direction: column;  
    background: rgba(51, 51, 51, 0.192);
    box-shadow: inset -1px -1px 9px#333,
                inset 1px 1px 9px#333;
    border-radius: 20px;
    transition: .5s ease-in-out;
}

.container .contact_info .box{
    position: relative;
    padding: 0 0 20px 0;
    display: flex;
}

.container .contact_info .box .text{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    color: rgb(206, 113, 113);
    flex-direction: column;
    font-weight: 500;
    transition: .5s ease-in-out;
}

.container .contact_info .box .text h3{
    margin-bottom: 0;
    font-weight: 600;
    color: whitesmoke;
    transition: .5s ease-in-out;
}

.container .contact_info:hover {
    background: rgba(223, 223, 223, 0.192);
   
}

.container .contact_info:hover .box .text{        
    color: #333;
}

.container .contact_info:hover .box .text h3{
    color: rgb(255, 255, 255);
}

.contactForm{
    padding: 40px;
    box-shadow: inset -1px -1px 9px#333,
                inset 1px 1px 9px#333;
    border-radius: 20px;
    background: rgba(51, 51, 51, 0.192);
}

.contactForm h2{
    font-size: 30px;
    color: rgb(255, 255, 255) ;
    font-weight: 500;
    text-shadow: inset 1px 1px 5px #333;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #333;
    box-shadow: inset 1px 1px 5px#333;
    background: rgba(226, 223, 223, 0.178);
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 5px;    
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #333;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #1b1b1a;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #252525;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){

    .contacter{
        padding: 50px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .container .contact_info{
        margin-bottom: 40px;
    }
    .container .contact_info, .contactForm{
        width: 100%;
    }
}